@media (max-width: 850px) {
    .first-section-personal-information {
        height: 70vh;
    }

    .titulo-presentacion-tablet {
        font-size: 1.3em;
        font-weight: bold;
        display: flex;
        padding: 2em;
        margin: 0;
    }

    .personal-information {
        display: flex;
        align-items: center;
        margin: 0;
    }

    .wrapper {
        display: flex;
        align-items: normal;
        flex-direction: row;
        width: 100vw;
        height: 50vh;
    }
    
    .picture-of-me {
        height: 18em;
        width: 14em;
        margin: 3em 1em 0 0;
    }

    .links {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 380px;
        gap: 10px;
    }

    .link {
        width: 75%;
    }

    /* Second section */

    .second-section-about-me {
        height: 65vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .tittle {
        margin: 1em;
        font-size: 2em;
    }

    .about-me {
        display: flex;
        justify-content: normal;
        height: auto;
    }
    
    .my-description {
        font-size: 1.1em;
        width: 90%;
        border-right: solid;
        border-bottom: solid;
        border-radius: 10px;
        box-shadow: 0.5px 0.5px 0 0 rgb(255, 0, 0);
    }
}