@media (max-width: 500px) {
    .navbar {
        display: none;
    }

    .first-section-personal-information {
        height: auto;
    }

    .titulo-presentacion-tablet {
        font-size: 1.1em;
        font-weight: bold;
        display: flex;
        text-shadow: 1px 1px 1px rgb(255, 0, 0);  
        margin-top: 2em;
    }

    .personal-information {
        display: flex;
        align-items: center;
        margin: 0;
        height: 50vh;
    }

    .wrapper {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    
    .picture-of-me {
        width: 40%;
        max-width: 40%;
        height: 200px;
    }

    .links {
        display: flex;
        gap: 5px;
        width: 45%;
        height: auto;
    }

    .link {
        width: 75%;
        height: 50px;
    }

    /* Second section */

    .second-section-about-me {
        height: 550px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .tittle {
        margin: 0;
        font-size: 2em;
        padding: 15px;
    }

    .about-me {
        display: flex;
        justify-content: normal;
        height: auto;
    }
    
    .my-description {
        font-size: 1.1em;
        width: 90%;
        padding: 10px;
    }

    /* third section */

    .third-section-skills {
        height: 550px;
    }

    .third-section-skills h2 {
        font-size: 38px;
        margin: 0;
    }

    .skills-container {
        height: 400px;
        width: 60%;
        margin: 0;
    }

    .skills-container img {
        height: 70px;
        width: 30%;
    }



    /* fifth section */
    
    .fifth-section-formation h1 {
        font-size: 38px;
        margin: 1.5em 0 0 0;
    }
}