@media (max-width: 500px) {
    .navbar {
        display: none;
    }

    .first-section-personal-information {
        height: 60%;
    }

    .titulo-presentacion-tablet {
        font-size: 1.1em;
        font-weight: bold;
        display: flex;
        margin: 1em;
        text-shadow: 1px 1px 1px rgb(255, 0, 0);  
    }

    .personal-information {
        display: flex;
        align-items: center;
        margin: 0;
    }

    .wrapper {
        display: flex;
        align-items: center;
        flex-direction: row;
        height: 40vh;
    }
    
    .picture-of-me {
        height: 85%;
        width: 40%;
    }

    .links {
        flex-direction: column;
        gap: 5px;
        height: 80%;
        flex-wrap: nowrap;
        width: 40%;
    }

    .link {
        width: 75%;
    }

    /* Second section */

    .second-section-about-me {
        height: 70vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .tittle {
        margin: 0;
        font-size: 2em;
    }

    .about-me {
        display: flex;
        justify-content: normal;
        height: auto;
    }
    
    .my-description {
        font-size: 1.1em;
        width: 90%;
        border-right: solid;
        border-bottom: solid;
        border-radius: 10px;
        box-shadow: 0.5px 0.5px 0 0 rgb(255, 0, 0);
    }
}