
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: rgb(255, 255, 255);
}

.header-container{
    display: flex;
    align-items: center;
    width: 100vw;
    position: fixed;
    z-index: 1;
    height: 5em;
    background-color: #000000;
    border-bottom: solid rgb(250, 117, 117);;
}

.titulo-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 100%;
    color: white;
    text-shadow: 1px 1px 1px rgb(255, 0, 0);
}

.titulo-header a {
    text-decoration: none;
    color: white;
}

.tittle-tablet {
    display: none;
}

.navbar{
    display: flex;
    height: 100%;
    width: 95%;
    justify-content: end;
    align-items: center;
}

.navbar a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px 1px rgb(255, 0, 0);
    height: 87%;
    width: 100%;
}

.navbar a:hover {
    transform: scale(1.02);
    transition: 0.5s;
    box-shadow: 0 0 80px rgb(133, 19, 19);
}

.header-container a {
    text-decoration: none;
    font-weight: bold;
}


/*Primera seccion - informacion personal */

.first-section-personal-information {
    display: flex;
    border-bottom: 1px solid white;
    background-color: #160000;
    background-color: rgb(17, 1, 1);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 80px rgb(104, 11, 11);
    height: 98vh;
}

.personal-information{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

.titulo-presentacion {
    text-shadow: 1.5px 1px 1px rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin-top: 3em;
}

.titulo-presentacion-tablet {
    display: none;
}


.information {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3em;
    width: 15%;
}

.information p {
    border-bottom: 1px solid white;
    padding: 5px;
    font-size: 14px;
    width: 90%;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 550px;
}

/*Foto de perfil*/

.picture-of-me {
    height: 65%;
    width: 250px;
    object-fit: cover;
    float: right;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0 0 80px rgb(104, 11, 11);
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 65%;
    gap: 20px;
}

.links a {
    text-decoration: none;
    color: white;
    font-size: 75%;
}

.link {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 35%;
    height: 70px;
    font-size: 1.5em;
    gap: 8px;
    border-radius: 5%;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 80px rgb(104, 11, 11);
}

.links img {
    width: 13%;
    max-width: 12%;
    
}

.link:hover {
    transform: scale(1.1);
    transition: 0.5s;
    border: 2px solid rgb(163, 50, 50);
    box-shadow: 0 0 80px rgb(173, 12, 12);
}


/*Segunda seccion - mi descripcion */

.second-section-about-me {
    height: 685px;
    background-color: rgb(17, 1, 1);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 80px rgb(104, 11, 11);
    border-top: solid rgb(250, 117, 117);
}

.tittle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    text-shadow: 2px 2px 2px rgb(255, 0, 0);
    margin-top: 1.6em;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    height: auto;
}


.my-description {
    display: flex;
    font-size: 1.5em;
    width: 80%;
    height: 40vh;
    align-items: center;
}

/*Tercera seccion - mis skills*/

.third-section-skills {
    height: 600px;
    background-color: #160000;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 80px rgb(104, 11, 11);
    border-top: solid rgb(250, 117, 117);
    gap: 15px;
}

.third-section-skills h2 {
    font-size: 3em;
    text-align: center;
    padding: 25px;
    display: flex;
    align-items: start;
    justify-content: center;
    text-shadow: 2px 2px 2px red;
}

.skills-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    align-items: center; 
    height: auto;
    width: 100%;
}

.skills-container img {
    height: 120px;
    width: 120px;
}

.skills-container p {
    margin: 15px 0;
    text-shadow: 1px 1px 1px rgb(255, 0, 0);
}

/*Cuarta seccion - hobbies*/
.fourth-section-hobbies {
    background-color: #160000;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fourth-section-hobbies h2 {
    font-size: 3em;
    display: flex;
    align-items: start;
    justify-content: center;
    max-width: 100vw;
    padding: 1em;
    text-shadow: 2px 2px 2px red;
}

.container-hobbie {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    align-items: center; 
    height: auto;
    width: 100%;
}

.container-hobbie img {
    height: 125px;
    width: 125px;
    margin: 2em;
}

/*Quinta seccion - formacion (eliminado)*/ 

/* sexta seccion - proyectos */

.sixt-section-proyect {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #160000;
}

.buttons {
    border: solid;
    font-size: 14px;
    width: 18%;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid rgb(232, 69, 69);
    box-shadow: 0 0 80px rgb(104, 11, 11);
    text-shadow: 1px 1px 1px red;
}

.buttons:hover {
    transform: scale(1.1);
    transition: 0.5s;
    border: 2px solid rgb(163, 50, 50);
    box-shadow: 0 0 80px rgb(173, 12, 12);
    text-shadow: 2px 2px 2px red;
}

/*septima seccion - contacto */

.seven-section-contact {
    background-color: rgb(14, 1, 1);
    display: flex;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 80px rgb(104, 11, 11);
    border-top: solid rgb(250, 117, 117);
}

.seven-section-contact img {
    height: 670px;
    width: 550px;
    max-width: 45%;
    object-fit: cover;
}

.container-contact {
    display: flex;
    flex-direction: column;
    width: 55%;
    gap: 30px;
    padding: 35px;
    align-items: center;
    padding: 10px;
}

.container-contact h2 {
    text-align: center;
    font-size: 30px;
    padding: 25px;
    text-shadow: 2px 2px 2px red;
}

.container-contact label {
    width: 250px;
}

.container-contact textarea, input {
    border: 1px solid rgb(44, 0, 0);
    box-shadow: 0 0 10px rgb(255, 99, 99);
    background-color: rgb(58, 4, 4);
    color: white;
    width: 350px;
    padding: 10px;
    }

.container-contact button {
    margin-top: 1.3em;
    padding: 15px;
    width: 190px;
    border: 1px solid rgb(76, 31, 31);
    box-shadow: 0 0 50px rgb(81, 19, 19);
    background-color: rgb(33, 3, 3);
    color: white;
    }

.container-contact button:hover {
    transform: scale(1.1);
    transition: 0.5s;
    border: 2px solid rgb(163, 50, 50);
    box-shadow: 0 0 80px rgb(173, 12, 12);
    text-shadow: 2px 2px 2px red;
}






