@media (max-width: 850px) {
    .header-container {
        background-color: rgb(39, 3, 3);
        position: static;
    }

    .whatsapp-link {
        display: none;
    }

    .first-section-personal-information {
        height: auto;
    }


    .tittle-tablet {
        display: flex;
        font-weight: bold;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        font-size: 22px;
        border-bottom: solid rgb(250, 117, 117);
        box-shadow: 0 0 80px rgb(104, 11, 11);
        text-shadow: 2px 2px 2px rgb(255, 0, 0);  
    }

    .titulo-header {
        display: none;
    }

    .navbar {
        display: none;
    }

    .titulo-presentacion {
        display: none;        
    }

    .titulo-presentacion-tablet {
        display: flex;
        font-size: 1.4em;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgb(255, 0, 0);  
        padding: 15px;
    }
    
    .information {
        display: none;
    }

    .wrapper {
        height: 350px;
        gap: 25px;
    }

    .picture-of-me {
        width: 50%;
    }

    .links {
        width: 70%;
    }

    .links a {
        font-size: 73%;
    }

    .links im {
        width: 10%;
        max-width: none;
        min-width: none;
    }

    .link {
        width: 45%;
        font-size: 18px;
    }

    .second-section-about-me {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }

    .tittle {
        padding: 15px 0 0 0;
        font-size: 42px;
    }

    .about-me {
        margin-top: 2em;
    }


    .my-description {
        font-size: 18px;
        padding: 15px;
        margin: 0 0 1em 0;
    }

    .third-section-skills {
        height: 750px;
    }

    .skills-container {
        height: 475px;
        width: 380px;
    }

    .skills-container h2 {
        font-size: 2.5em ;
    }

    .skills-container img {
        height: 100px;
        width: 30%;
    }

    .fourth-section-hobbies {
        height: 550px;
    }

    .fourth-section-hobbies h2 {
        padding: 1em;
        font-size: 2.5em;
    }

    .container-hobbie {
        height: auto;
    }

    .container-hobbie img {
        width: 110px;
        height: 110px;
        margin: 1.2em;
    }

    .buttons {
        width: 30%;
    }

    .seven-section-contact {
        display: flex;
        justify-content: center;
        border: 2px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 80px rgb(104, 11, 11);
        border-top: solid rgb(250, 117, 117);
        padding: 25px;
    }

    .container-contact {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        justify-content: center;
        padding: 25px;
    }

    .container-contact h2 {
        font-size: 30px;
    }

    .container-contact {
        gap: 30px;
    }

    .container-contact input {
        background-color: rgb(17, 1, 1);
        border: 2px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 80px rgb(104, 11, 11);
        border: solid rgb(58, 10, 10);
        color: rgb(255, 255, 255);
        text-shadow: 1px 1px 1px rgb(255, 0, 0);  
    }

    .container-contact textarea {
        border: 1px solid white;
        box-shadow: 0 0 50px rgb(104, 11, 11);
        background-color: rgb(58, 10, 10);
        color: white;
    }

    .container-contact button {
        margin-top: 1em;
        padding: 15px;
        width: 190px;
        border: 1px solid rgb(76, 31, 31);
        box-shadow: 0 0 50px rgb(104, 11, 11);
        background-color: rgb(33, 3, 3);
        color: white;
    }

    .seven-section-contact img {
        display: none;
    }

}