@media (max-width: 1300px) {

    /*Primera seccion */
    .header-container {
        position: static;
        background-color: #0f0f0f;
    }

    .titulo-header {
        display: none;
    }

    .titulo-header a {
        display: none;
    }

    .tittle-tablet {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 1.5em;
        text-align: center;
        align-items: center;
        padding: 1em;
    }

    .navbar {
        display: none;
    }

    .first-section-personal-information {
        height: 80vh;
        display: flex;
        align-items: center;
    }

    .personal-information {
        height: 70vh;
    }

    .wrapper {
        height: 60vh;
        display: flex;
        align-items: normal;
    }

    .titulo-presentacion {
        display: none;
    }

    .titulo-presentacion-tablet {
        display: block;
        font-size: 2em;
        margin: 1em;
        text-shadow: 1.5px 1px 1px rgb(255, 0, 0);
    }

    .information {
        display: none;
    }

    .links {
        width: 65%;
    }
    
    .link {
        width: 30%;
        margin: 0 0.8em;
        padding: 1em;
    }

    .link a {
        font-size: 0.8em;
    }

    .picture-of-me {
        height: 360px;
        width: 280px;
        margin: 3em 0;
    }

    /* Segunda seccion */

    .second-section-about-me {
        height: 70vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .tittle {
        font-size: 3em;
        margin: 1.5em;
    }

    .about-me {
        height: auto;
    }

    .my-description {
        font-size: 1.4em;
        height: auto;
        margin: 0;
        border-right: solid;
        border-bottom: solid;
        border-radius: 10px;
        box-shadow: 1px 1px 0 0 rgb(255, 0, 0);
    }

    /*Tercera seccion */
    

}